In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/cleaned_activities.csv")
df["types"] = df["types"].fillna("Unknown").astype(str).str.strip()

df = df.sort_values(["account_id", "activity_order"])
df["next_action"] = df.groupby("account_id")["types"].shift(-1)

model_df = df[df["next_action"].notna()].copy()
model_df.head()

,account_id,SourceSystem,activity_date,who_id,opportunity_id,opportunity_stage,is_lead,types,Country,solution,activity_order,action_weight,next_action
0,0010L00001hVmFhQAK,SFDC_US,2022-07-25,0030L00001vlbHLQAY,NaN,no_opp,1,Follow Up,US,MRS,1.0,1.0,Call
1,0010L00001hVmFhQAK,SFDC_US,2023-02-08,0034X00002xZlQtQAK,NaN,no_opp,1,Call,US,MRS,2.0,1.0,Call
2,0010L00001hVmFhQAK,SFDC_US,2023-02-14,0030L00001vlbHLQAY,NaN,no_opp,1,Call,US,MRS,3.0,1.0,Call
3,0010L00001hVmFhQAK,SFDC_US,2023-02-20,0030L00001vlbHLQAY,NaN,no_opp,2,Call,US,MRS,4.0,1.0,Call
4,0010L00001hVmFhQAK,SFDC_US,2023-03-16,0034X00003GOUrFQAX,NaN,no_opp,1,Call,US,MRS,5.0,1.0,Call

In [3]:
top4_by_country = (
    model_df.groupby(["Country", "next_action"])
            .size()
            .reset_index(name="count")
            .sort_values(["Country", "count"], ascending=[True, False])
            .groupby("Country")
            .head(4)
            .reset_index(drop=True)
)

top4_by_country.head(20)
top4_by_country.to_csv("../data/processed/top4_next_actions_by_country.csv", index=False)